body {
  font-family: "Cormorant", serif;
  font-size: 20px;
  color: black;
  background-color: #ffffff;
}

.nav ol {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.nav a {
  padding: 1px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  background-image: url(img/header-dish.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 720px;
  font-size: 47px;
  text-align: center;
}
h1,
h2 {
  font-family: "Prata", serif;
}

.code {
  font-size: 15px;
}

#reservation {
  background-image: url(img/table.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 720px;
  font-size: 47px;
  text-align: center;
}

iframe {
  border: 2px solid black;
}

form {
  width: 400px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 15px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea,
select {
  width: 300px;
  box-sizing: border-box;
  border: 2x solid black;
  margin: 2px;
}

textarea {
  vertical-align: top;
  height: 5;
}

button {
  padding: 15px 20px;
  border: 1px solid black;
  color: #ffffff;
  background-color: #000000;
  border-radius: 15px;
}
button:hover {
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

#btn-send {
  padding: 10px 50px;
  margin-top: 15px;
  margin-left: 100px;
}

footer {
  background-color: #ffffff;
}

i {
  cursor: pointer;
}

.open {
  font-size: 20px;
  text-align: center;
}

.starter,
.dish,
.desert,
.drinks {
  display: block;
  margin: 0 auto;
  border: 2px solid #f9b384;
  padding: 10px;
  width: 500px;
  line-height: 15px;
}
